body {
    background-color: #f4f4f4;
    font-family: 'Arial', sans-serif;
}

h2 {
    font-weight: bold;
    color: #333;
}

input, select {
    border-radius: 8px;
}

.progress {
    height: 10px;
    border-radius: 5px;
    overflow: hidden;
}

.progress-bar {
    width: 0%;
    transition: width 0.5s ease-in-out;
}
